{
  "env": {
    "browser": true,
    "jest": true,
    "truffle/globals": true
  },
  "extends": [
    "standard"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 1,
    "no-await-in-loop": 1,
    "comma-dangle": 0,
    "no-console": 0,
    "no-mixed-operators": 0,
    "max-len": 0
  },
  "plugins": [
    "truffle"
  ],
  "settings": {
    "import/resolver": "webpack",
    "react": {
      "version": "latest"
    }
  }
}
