[Unit]
Description=ONE Wallet Relayer
Documentation=https://github.com/polymorpher/one-wallet/
After=network.target

[Service]
Environment=PORT=80 HTTPS_PORT=443
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/one-wallet/code/relayer
ExecStart=/usr/bin/node /home/ubuntu/one-wallet/code/relayer/bin/run.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
