.v2ui {
    .ant-layout-sider {
        .ant-divider:not(.ant-divider-with-text) {
            width: 10%;
            min-width: 10%;
            margin-left: 25px;
        }
        a {
            color: inherit;
        }
    }
}