@import '~antd/dist/antd.less';
//@layout-header-background: #ffffff;
.ant-carousel{
  width: 100%;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}
.ant-carousel .slick-prev::before{
  content: "";
}
.ant-carousel .slick-next::before{
  content: "";
}
